.View {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eff4f7;
  flex-direction: column;
  gap: 2vh;
  white-space: pre-wrap;
  padding-bottom: 5vh;
}
.setting {
  height: fit-content;
  display: flex;
  justify-content: flex-end;
}
.dropdown-toggle {
  border: none;
  background: transparent;
  display: flex;
  flex-direction: column;
  position: relative;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 100%;
    background-color: transparent;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}
.dropdown-menu .edit,.dropdown-menu .del{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    background: transparent;
    border: none;
    
}
.dropdown-menu .drop{
    text-transform: uppercase;
    font-size: .8vw;
    padding: .4vh;
    border-radius: 1vh;
    background: #607d8b;
    color: white;
    padding-left: 1vh;
    padding-right: 1vh;
}
.View .viewQuestion {
  box-shadow: 0px 1px 22px -12px #607d8b;
  width: 80%;
  background-color: #fff;
  border-radius: 1vh;
  height: fit-content;
  padding: 1vw;
  display: flex;
  flex-direction: column; 
  gap: .5vh;
}
.View .viewQuestion .quesTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.3vw;
}
.viewQuestion .cop {
  width: 100%;
  height: fit-content;
  display: flex;
  padding-right: 3vw;
}
.viewQuestion .cop .left {
  padding: 0.4vw;
  padding-left: 1vw;
  padding-right: 0vw;
  width: 1.7vw;
  display: flex;
  justify-content: center;
  align-items: center; 
}
.viewQuestion .cop .right {
  display: flex;
  align-items: center; 
  padding-left: 1vw;
  padding-right: 1vw;
  flex: 1;
}
.bb{
  width: 90vw;
  padding-top: 4vh;
  display: flex;
  justify-content: right;
}